---
import { log } from 'astro/dist/core/logger/core';

export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, class: className, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, '');
console.log(Astro.url.pathname);
console.log( Astro.props.href);


---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
